  .divContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 12rem;
  
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;   
    float: left; 
    margin-top: 1.5rem;
  }

  .liParrafo {
    margin-left: 1rem;
    margin-top: 2.5rem;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  p{
    color: '#383B58';
    font-size: 1.5rem;
  }

  .btnReg, .btnSignin{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
    left: 9rem;
    margin-left: 5rem;
    border-radius: 8%;
    background-color: white;
    color: #1DBEB4;
    border-color: #1DBEB4;
    height: 2.5rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
  }

  button:hover{
    transform: scale(1.1);
    background-color: #4bb8b0a4;
    color: black;
  }